extends layout

block content
  h1 Express Heroku API
  p Welcome to Services for GlobalNet
  a(href="./cards") ir a cards
  a(href="./accounts") ir a cheques
  a(href="./dashboard") ir a dashboard
  a(href="./operations") ir a operations
  a(href="./transfers") ir a transfers
  a(href="./") prueba

